node_modules
dist
coverage
.nyc_output

.git
.gitignore
.github

.env
.env.*
!.env.example

Dockerfile*
docker-compose*
.dockerignore

.idea
.vscode
.DS_Store

*.md
test
e2e
**/*.spec.ts
**/*.e2e-spec.ts

*.log
logs
npm-debug.log*
*.tsbuildinfo

uploads
tmp
temp
